{% extends 'base.html' %}
{% block title %}RESET PASSWORD{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-8">
    <h1>パスワードの再設定</h1>
    <br />
  </div>
  <div class="col-md-8">
    <form method="post">
      <div class="form-group">
        <label for="username">氏名</label>
        <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="Enter your name." required>
        <small id="usernameHelp" class="form-text text-muted">例:福岡太郎</small>
      </div>
      <div class="form-group">
        <label for="fit_id">学籍番号</label>
        <input type="text" class="form-control" name="fit_id" id="fit_id" aria-describedby="fitIdHelp" placeholder="Enter your student number." required>
        <small id="fitIdHelp" class="form-text text-muted">例:18f0000 半角入力でお願いします。</small>
      </div>
      <div class="form-group">
        <label for="password">新しいパスワード</label>
        <input type="password" class="form-control" name="password" id="password" placeholder="Password" aria-describedby="passwordHelp" required>
        <small id="passwordHelp" class="form-text text-muted">パスワードは、半角英小文字大文字数字をそれぞれ1種類以上含む5文字以上100文字以下で入力してください。</small>
      </div>
      <div class="form-group">
        <label for="password">パスワード再確認</label>
        <input type="password" class="form-control" name="password_c" id="password_c" placeholder="Password" aria-describedby="password_c_Help" required>
        <small id="password_c_Help" class="form-text text-muted">もう1度パスワードを入力してください。</small>
      </div>
      <button type="submit" class="btn btn-primary">再設定</button>
    </form>
  </div>
</div>
{% endblock %}
