{% extends 'base.html' %}
{% block title %}SIGN UP{% endblock %}

{% block content %}
<div class="row pl-3 pr-3">
  <div class="col">
    <h1>登録</h1>
    <p><a href="{{ url_for('auth.register_guest') }}">・学外の方はこちらから</a></p>
  </div>
</div>
<div class="row pr-3 pl-3 mt-2">
  <form id="uploadForm" method="post">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <div class="form-group">
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="RadioGender" id="RadioM" value="M" required>
        <label class="form-check-label" for="RadioM"><strong>男</strong></label>
      </div>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="RadioGender" id="RadioF" value="F">
        <label class="form-check-label" for="RadioF"><strong>女</strong></label>
      </div>
    </div>
    <div class="form-group">
      <label for="age"><strong>年齢</strong></label>
      <div class="row pl-3 mb-3">
        <div class="col-3"><input type="text" class="form-control" name="age" id="age" required></div>
        <div class="col ml-3"><span style="font-size: 20px;">歳<span></div>
      </div>
    </div>
    <div class="form-group">
      <label for="username"><strong>氏名</strong></label>
      <input type="text" class="form-control" name="username" id="username" aria-describedby="usernameHelp" placeholder="Enter your name." required>
      <small id="usernameHelp" class="form-text text-muted">例:福岡太郎</small>
    </div>
    <div class="form-group">
      <label for="fit_id"><strong>学籍番号</strong></label>
      <input type="text" class="form-control" name="fit_id" id="fit_id" aria-describedby="fitIdHelp" placeholder="Enter your student number." required>
      <small id="fitIdHelp" class="form-text text-muted">例:18f0000 半角入力でお願いします。</small>
    </div>
    <div class="form-group">
      <label for="password"><strong>パスワード</strong></label>
      <input type="password" class="form-control" name="password" id="password" placeholder="Password" aria-describedby="passwordHelp" required>
      <small id="passwordHelp" class="form-text text-muted">パスワードは、半角英小文字大文字数字をそれぞれ1種類以上含む5文字以上100文字以下で入力してください。<br />
        記号は使えません。</small>
    </div>
    <div class="form-group">
      <label for="password"><strong>パスワード再確認</strong></label>
      <input type="password" class="form-control" name="password_c" id="password_c" placeholder="Password" aria-describedby="password_c_Help" required>
      <small id="password_c_Help" class="form-text text-muted">もう1度パスワードを入力してください。</small>
    </div>
    <button type="submit" class="btn btn-primary mt-2 ml-3 pr-4 pl-4">登録</button>
  </form>
</div>

{% endblock %}
